
<md-button style="position: absolute; top:20px; right: 20px;" ng-click="vm.logOut()" class="btn md-raised">Log Out</md-button>
<div class="flex flex-80 flex-offset-10" layout="column" layout-align="start center" update-size="0">
    <div style="min-height: 170px; margin-top: 150px;">
        <img fade-in-load style="max-width: 250px;" class="fade-in-load" src="img/logo.png"/>
    </div>
    <md-button ng-href="./info" style="width: 300px; margin-top:-18px;" class="md-raised">Teksten</md-button>
    <md-button ng-href="./items" style="width: 300px;" class="md-raised">Photos</md-button>
</div>