<div style="height: 85px; display: flex; background: #fff; box-shadow: none; position: relative;">
    <div class="flex" flex="25" layout-align="center center"><md-button style="font-weight: bold; color: #000;" ng-href="/" class="back-btn"><md-icon style="color: #000;" >arrow_back</md-icon>terug</md-button></div>
    <div class="title flex" flex="50" layout-align="center center">Afscheid</div>
    <div class="flex" flex="25"></div>
  </div>

  <div style="height: 100%; background-color: #fff; padding-bottom: 25px; margin-top: 30px;" class="flex-xs-100 flex-sm-100 flex-gt-sm-70 flex-offset-gt-sm-15">
    <div ng-bind-html="::$root.settings.generalText" style="padding: 30px 40px 0 40px;" class="afscheid-placeholder flex-xs-100"></div>
</div>