
<div ng-style="{'margin-top': vm.media('gt-sm') && '60px'}" style="height: 100%; background-color: #fff; padding-bottom: 25px;" class="flex-xs-100 flex-sm-100 flex-gt-sm-70 flex-offset-gt-sm-15">
    <div class="img-head">
        <img style="max-width: 100%;" fade-in-load class="fade-in-load" src="img/img_head.png" />
        <div ng-class="{'text-placeholder': vm.media('gt-xs'), 'text-placeholder-mobile': vm.media('xs')}">
            <span ng-style="{'font-size': vm.media('gt-xs') && '35px'}">Ton Ramaker</span>
            <span>1942 - 2020</span>
        </div>
    </div>
    <div ng-style="{'flex-direction': vm.media('gt-sm') && 'row' || 'column'}" style="display: flex;" class="flex-100">
        <div ng-bind-html="::vm.settings.generalText" ng-style="{'border-right': vm.media('gt-sm') && '3px solid'}" style="padding: 0 25px 0 40px;" class="flex-xs-100 flex-sm-100 flex-gt-sm-60"></div>
        <div style="display: flex; justify-content: center;" class="flex-100 flex-sm-100 flex-gt-sm-40">
            <iframe src="https://open.spotify.com/embed/playlist/48Cz6Wy1D0xJ4NmVfMo3uW?si=lX_QcfWiRFGpIggffJmwug" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
    <div class="photo-strip flex-100">
        <img fade-in-load class="fade-in-load " ng-repeat="img in vm.photos" ng-src="{{img.file}}" /> 
    </div>
    <span style="margin-left: 40px; font-size: 12px;"><i>Scroll naar rechts voor meer foto's</i></span>
</div>